body {
    font-family: Manrope, Arial, serif;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

mark {
    padding: 0;
}

.fs-7 {
    font-size: 0.9rem !important;
}

/* start of scrollbar */
.new-scrollbar::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

.new-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 9px 9px 9px 9px;
}

.new-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 9px;
    border: 1px solid rgb(129, 130, 131);
}
/* end of scrollbar */
