<IfModule mod_rewrite.c>
    RewriteEngine On
    # RewriteBase /
    # NOT needed unless you're using mod_alias to redirect

    RewriteCond %{REQUEST_URI} !/public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

DirectoryIndex index.php
ErrorDocument 403 /public/index.php?error=403
ErrorDocument 404 /public/index.php?error=404
ErrorDocument 500 /public/index.php?error=500

php_value display_errors On
php_value date.timezone Europe/London
