body {
    font-family: Manrope, Arial, serif;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentcolor;
}

mark {
    padding: 0;
}

.fs-7 {
    font-size: 0.9rem;
}

/* start of scrollbar */
.new-scrollbar::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

.new-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 9px 9px 9px 9px;
}

.new-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 9px;
    border: 1px solid rgb(129, 130, 131);
}
/* end of scrollbar */

/* start of form elements */
.form-control:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px var(--bs-body-bg) inset;
    -webkit-text-fill-color: var(--bs-body-color);
}

.form-control:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px var(--bs-body-bg) inset;
    -webkit-text-fill-color: var(--bs-body-color);
}

.form-select {
    padding: 13px 13px 13px 61px;
    font: normal normal normal 18px/24px Manrope;
    letter-spacing: 0;
    color: var(--bs-body-color);
    border: none;
    border-radius: 11px;
    outline: none;
    background: url("/img/components/edit.svg") no-repeat 18px center, var(--bs-body-bg);
    background-size: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    height: 50px;
}

.form-select.nice-select {
    outline: none;
    box-shadow: none;
}

.form-select.nice-select.open {
    border-radius: 11px 11px 0 0;
    background: url("/img/components/edit_hover.svg") no-repeat 18px center, #ffffff;
    background-size: 20px;
}

.form-select.nice-select:after {
    border-bottom: none;
    border-right: none;
    right: 29px;
    background: url("/img/components/arrow.svg") no-repeat center;
    background-size: cover;
    width: 14px;
    height: 14px;
    transform: none;
    transform-origin: inherit;
    margin-top: -7px;
}

.form-select.nice-select.open:after {
    transform: rotate(180deg);
}

.form-select.nice-select .nice-select-dropdown {
    width: 100%;
    border-radius: 0 0 11px 11px;
    margin-top: 0;
}

.form-select.nice-select .list {
    margin: 0;
}

.form-select.nice-select .option {
    padding: 5px 5px 5px 61px;
    line-height: inherit;
    border-radius: 11px;
    background: #ffffff url("/img/components/edit.svg") no-repeat 19px center;
    background-size: 20px;
}

.form-select.nice-select .option:hover {
    padding: 5px 5px 5px 68px;
    background: #ffffff url("/img/components/edit_hover.svg") no-repeat 19px center;
    background-size: 20px;
}

.form-select.nice-select .option.selected {
    display: none;
}
/* end of form elements */

/* start of general styles */
.animation-appear {
    animation: appear 0.6s;
}

.animation-disappear {
    animation: disappear 1s;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/* end of general styles */

/* start of component */
.toast.fixed-bottom {
    margin: 5rem;
}
/* end of component */

@media (max-width: 575.98px) {
    .toast.fixed-bottom {
        margin: 0 0 70px 0;
    }
}
