.cursor-pointer {
    cursor: pointer;
}
.text-overflow-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pagination .page-item {
    min-width: 2.7rem;
}
