.hymns-pagination .dropdown-menu {
    max-height: 250px;
}

.text-overflow-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
