<footer class="footer">
    <p class="footer-p">
        Разработал
        <a title="Ссылка на GitHub" href="https://github.com/Vqcheslav" target="_blank">Vqcheslav</a>,
        &copy; 2024 - {{ date().format('Y') }}
    </p>
</footer>
