<footer class="w-100 d-flex flex-column text-center bg-body-tertiary p-3 border-top">
    <p>
        Разработал
        <a
            class="link link-success"
            title="Ссылка на GitHub"
            href="https://github.com/Vqcheslav"
            target="_blank"
        >Vqcheslav</a>,
        &copy; 2024.03 - {{ date().format('Y.m') }}
    </p>
    <p>
        <a
            class="link link-success"
            href="mailto:vqcheslav.official@gmail.com"
            target="_blank"
        >Связаться с разработчиком</a>
    </p>
</footer>
