<footer class="w-100 d-flex flex-column text-center bg-body-tertiary p-3 border-top border-start border-end rounded-top-4">
    <p>
        <a
            class="link link-success"
            href="mailto:vqcheslav.official@gmail.com"
            target="_blank"
        >Связаться с разработчиком</a>
    </p>
    <p>
        <a
            class="link link-success"
            href="https://github.com/Vqcheslav"
            target="_blank"
        >Ссылка на GitHub</a>,
        &copy; 2024.03 - {{ date().format('Y.m') }}
    </p>
</footer>
