{% extends 'app.html.twig' %}

{% block description %}Гимны: Документация{% endblock %}

{% block title %}Гимны: Документация{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/vendor/swagger-ui.css') }}" />
    <style>
        .parameters input {
          color: black;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="container mt-5 pt-3 pb-3 bg-light">
        <div id="swagger-ui"></div>
        <div class="text-center text-black">
            {{ phpVersion }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/vendor/swagger-ui-bundle.js') }}" crossorigin></script>
    <script>
        window.onload = () => {
            window.ui = SwaggerUIBundle({
                url: '/json/openapi.json?version=1.8',
                dom_id: '#swagger-ui',
            });
        };
    </script>
{% endblock %}
